<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <style>
      /* Paste the CSS styles here */
      input[type="text"],
      input[type="number"] {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        font-size: 16px;
        height: auto;
        outline: 0;
        padding: 15px;
        width: 80%;
        background-color: #e8eeef;
        color: #8a97a0;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin: 30px 10px;
      }

      .details-form {
        max-width: 500px;
        margin: 10px auto;
        padding: 10px 20px;
        background: #f4f7f8;
        border-radius: 8px;
      }

      .btn {
       
        
        background: rgba(34, 6, 6, 0.03);
        font-size: 16px;
      }

      body {
        margin: 60px;
      }

      th,
      td {
        padding: 15px;
      }
  </style>
    <title>Document</title>
  </head>
  <body>
    <h1>Hey from ejs</h1>
    <div class="container">
      <form method="get" action="/">
          <button type="submit" class="btn">Add New</button>
      </form>
      <br>
      <form method="get" action="/getMarks">
        <button type="submit" class="btn">ALL records</button>
    </form>

  </div>  
  <br>
    <% if (data) { %>
    <table border="1px">
      <thead>
        <th>Name</th>
        <th>CNS MARKS</th>
        <th>WAD MARKS</th>
        <th>CC MARKS</th>
        <th>DSBDA MARKS</th>
      </thead>
      <tbody>
        <% data.forEach(ele => { %>
        <tr>
          <td><%= ele.studentname %></td>
          <td><%= ele.CNS_marks %></td>
          <td><%= ele.WAD_marks %></td>
          <td><%= ele.CC_marks %></td>
          <td><%= ele.DSBDA_marks %></td>
          <td>
            <form method="post" action="/deleteStudent/<%= ele._id %>">
                <button type="submit" class="btn">Delete</button>
            </form>
        </td>
        </tr>

        <% }) %>
      </tbody>
    </table>
    <% } %>
<br>
    <div class="container">
      <form method="get" action="/dsbdaGreaterThan20">
          <button type="submit" class="btn">DSBDA greater than 20</button>
      </form>
  </div>  
  <br>
  <div class="container">
    <form method="get" action="/wadccGreaterThan40">
        <button type="submit" class="btn">WAD CC  greater than 40</button>
    </form>
</div>
<br>
  </body>
</html>
